@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300&display=swap');


body {
  margin: 0;
  width: 100vw; 
  height: 100vh;
  padding: 0;
  background-color: #ffffff !important; 

  font-family: 'Roboto', sans-serif;

}

#app {
  width: 100vw; 
  height: 100vh; 
  box-sizing: border-box;
  padding: 2rem;
  background-color: #ffffff; 
  color: #0a0909;
}

a {
  text-decoration: none;
  color: #8c95c8; 
  transition: background-color 0.4s !important;
}

a:hover {
  background-color: #6495ed1a; 
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  #app {
    max-width: 1280px;
    margin: 0 auto;
  }
}